html, body {
	position: relative;
	width: 100%;
	/* height: 100%; */
}

body {
	color: #333;
	margin: 0;
	padding: 16px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a:hover {
	text-decoration: underline;
}

input, button, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	box-sizing: border-box;
	border: 1px solid #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
	height: 40px;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

select {
	display: block;
	font-size: 1em;
	line-height: 1em;
	font-family: sans-serif;
	width: 100%;
	height: 40px;
	padding: 0 0 0 10px;
	box-sizing: border-box;
	margin: 0;
	border: 0;
	box-shadow: 0;
	border-radius: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='9.15'%3e%3cpath fill='rgb(30,185,128)' d='M8.76,8.82,15.67,2a1.12,1.12,0,0,0,0-1.59,1.11,1.11,0,0,0-1.58,0L8,6.44,1.92.33A1.12,1.12,0,0,0,.33.33a1.11,1.11,0,0,0,0,1.58l6.85,6.9A1.16,1.16,0,0,0,8,9.15a1.11,1.11,0,0,0,.79-.33'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: right 1em top 50%, 0 0;
	background-size: 1em;
}
select::-ms-expand {
	display: none;
}
select:hover {
	background-color: #888;
}
select:focus {
	border-color: #aaa;
	color: #222;
	outline: none;
}
select option {
	font-weight:normal;
}
	
option {
	background: rgba(200,200,200,255);
}